/*css page*/
 body {
      background-color: black;
      line-height: 50%;
    }
    .text {
    color: rgb(51,255,51);
    text-align: center;
    }
	a{ text-decoration: none;
	}

  .edgar{
    color: white;
    font-size: 20px;
  }

	#wholecont {width:100%;}
	#halfleft {width:50%;float:left;color:white;}
	#halfright {width:100%;color:white;}
